
.package_type{
  margin-bottom: 20px;
}

.right_container{
  display: inline-block;
  position: absolute;
  margin-top:20px;
  height: 100%;
  width: 60%;
}

.left_container {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 100%;
  margin-top: 30px;
  margin-left:100px;
}

 

#text_area {
   
  background-color: #0F3D3E;
  color:#F1F1F1;
  font-size: 20px;
  margin-left: 30px;
   
}
.textBox {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 33;
  height: 200;
  align-self: center;
}

.textBox2 {
  margin-left: 24px;
}

.textBox3 {
  margin-left: 14px;
}



body {
  position: relative;
 
  height: 100vh;
  width: 100wh;
  font-size: 24px;
  background-color: #142850  ;
  color: white  ;
  
  background-image: linear-gradient(to left top, #001d48, #00365f, #004f6f, #006776, #007f78);  
  background-repeat: no-repeat;
  background-attachment: fixed;
   
}




.Package{
  position: relative;
  display: inline-block;
  width: 500px;
  height: 220px;
  margin-top: 30px;
}

.Outter_Package{
  width: 800px;
  height: 300px;
}


 

label{
  font-size:28px;
}

.Package_Type{
  position:absolute;
  display: inline-block;
  width:500px;
}

.Test{
  position: absolute;
  display: inline-block;
  width: 520;
  height: 220px;
  margin-top: 35px;
}

.top_label{
  position: absolute;
 
  font-weight: bolder;
  font-size: 30px;
  margin-right:10px;
 
}

/* parent box */
.label_spacing{    
  position: relative;
  
  width: 512px;
  height: 70px;
  margin-right:30px;
  margin-top:20px
}


.textbox_space{
  height: 40%;
  width: 60%;
  float:right;
  margin-top:0px;
  font-size: 30px;
}


.what_test{
  margin-bottom: 20px;
}

.h1_property{
  margin-top:20px   ;
  font-weight: bolder  ;
  background: -webkit-linear-gradient(45deg ,#00ff77,    #00fbff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=radio]{
  border:0px;
  width: 20px ; 
  height: 20px;
  margin-left:10px;
}

input[type=checkbox]{
  border:0px;
  width: 20px ; 
  height: 20px;
  margin-left:10px;
}


.navbar ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #333;
   
}

.navbar ul li{
  float:left;
}

.navbar ul li button {
  display:block;
  background-color: #333;
  color:white;
  padding: 14px 16px;
  text-align: center;
  border:none;
  height: 50px;
  width: 100px;
  
}

.navbar ul li button:hover {
  background-color: black;
}


/* Timer */

.watch{
  display:flex;
  position: relative;
  width: 950px;
  height: 500px;
  background-color: black;
  margin:100px auto;

  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.text-input{
  width: 100px;
  height: 100px;
  margin:50px;
  font-size:30px;
  text-align: center;
}

.watch-button{

  display: flex;
  position: absolute;
  height: 80px;
  width: 420px;
  margin-top: 350px;
 
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}

.watch_button{

  width: 300px;
  height: 50px;
  margin:auto 30px;
}



#copyAll{
  width: 50px;
  height: 50px;
}

.fa-copy{
 margin:auto;
}