
.package_type{
  margin-bottom: 20px;
}

#text_output {
  margin-left: 10px;
  margin-right: 10px;
}

.right_container {
  display: inline-block;
  position: absolute;
  width: 900px;
  height: 870px;
  background-color: #09595a;
  color: #ffffff;
  font-size: 18px;
}

#text_area {
  position: absolute;
  margin-left: 20px;
  margin-top: 1000px;
  background-color: #0F3D3E;
  color:#F1F1F1;
  font-size: 18px;
}
.textBox {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 33;
  height: 200;
  align-self: center;
}

.textBox2 {
  margin-left: 24px;
}

.textBox3 {
  margin-left: 14px;
}

.left_container {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 1000;
}

body {
  background-color: #142850;
  color: white;
}
