
.package_type{
  margin-bottom: 20px;
}

.right_container{
  display: inline-block;
  position: absolute;
  margin-top:20px;
  height: 900px;
  width: auto;
}

 

#text_area {
   
  background-color: #0F3D3E;
  color:#F1F1F1;
  font-size: 18px;
   
}
.textBox {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 33;
  height: 200;
  align-self: center;
}

.textBox2 {
  margin-left: 24px;
}

.textBox3 {
  margin-left: 14px;
}

.left_container {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 1300px;
  margin-top: 30px;
  margin-left:20px;
}

body {
  height: auto;
  background-color: #142850 !important;
  color: white !important;
  background-image: linear-gradient(to left top, #001d48, #00365f, #004f6f, #006776, #007f78);
}


.Test{
  position: absolute;
  display: inline-block;
  width: 520;
  height: 220px;
  margin-top: 35px;
}

.Package{
  position: relative;
  display: inline-block;
  width: 280px;
  height: 220px;
  margin-top: 30px;
}

.Outter_Package{
  width: 800px;
  height: 200px;
}
