#text_output{
    width: 700px;
    height:400px;
    background-color: aqua;


}


 
.textBox{
    margin-left: 10px;
    margin-top: 10px;
    margin-right:10px;
    width: 33;
    height: 200;
    align-self: center;
}
.textBox2{
    margin-left:24px;
}
.textBox3{
    margin-left: 14px; 
}


 

.left_container{
    display: inline-block; 
    position: relative;
    width:800px;
    height:1000;
}

.right_container{
    display: inline-block; 
    position: absolute;
    width: 700px;
    height: 1000;
}

 
 